@CHARSET "UTF-8";
table.book{
	align:center;"
	color:white;
}


td.aaaaa{
	background-color:#99FFCC;
}

td.bbbbb{
	background-color:#EDFFBE;
}

body.base{
	background-color:#A7F1FF;
	color:red
	font-size: 20px,
}

TH.ccccc{
	background-color:#99FFCC;
}

